.wrapper {
	display: flex;
	justify-content: center;
	min-height: 100%;
	flex-direction: column;
	margin-top: 1.25rem;
}

.container {
	max-width: 107.5rem;
	margin: 0 auto;
}

.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
}

.logo__name {
	font-size: 2.75rem;
	color: #262626;
}

.logo__name-active {
	color: #0a8f3f;
}

.logo__desc {
	font-size: 1.25rem;
	font-weight: 300;
	text-transform: lowercase;
	color: #262626;
	line-height: 1.25rem;
	padding-left: 4rem;
}

.menu {
	padding-left: 27rem;
}

.menu__list {
	display: flex;
}

.menu__list-item {
	padding: 0.063rem 2.063rem;
	margin-left: 0.313rem;
	border: 0.031rem solid rgba(255, 255, 255, 0);
}

.menu__list-link {
	font-family: 'Gilroy-Bold', sans-serif;
	display: inline-block;
	color: #262626;
	font-size: 1.5rem;
	font-weight: 800;
	line-height: 2rem;
	cursor: pointer;
}

.menu__list-item:hover {
	border: 0.031rem solid #0a8f3f;
	transition: 0.4s;
}

.lang {
	padding-left: 4.063rem;
	display: flex;
	align-items: center;
}

.lang__list {
	display: flex;
	align-items: center;
	gap: 0.438rem;
}

.lang__list-link {
	color: #262626;
	opacity: 0.7;
	font-size: 1.25rem;
	font-weight: 300;
	line-height: 1.25rem;
	border: none;
	cursor: pointer;
	padding: 0;
}

.lang__list-link:hover {
	color: #0a8f3f;
	transition: 0.4s;
}

.active {
	color: #0a8f3f;
	font-weight: 600;
}

.main__inner {
	display: flex;
	justify-content: space-between;
	margin-top: 2.219rem;
	margin-bottom: 5.375rem;
	width: 100%;
}

.main__about {
	margin-top: 3.25rem;
	display: none;
}

.text__slider {
	width: 40%;
}

.main__about-title {
	max-width: 52rem;
	font-size: 3.438rem;
	line-height: 3.75rem;
}

.main__about-desc {
	font-size: 2rem;
	font-weight: 300;
	line-height: 2.25rem;
	max-width: 37.5rem;
	color: #262626;
	margin-top: 0.938rem;
}

.main__about-button {
	width: 15rem;
	border: none;
	border-radius: 0.156rem;
	background: #0a8f3f;
	display: block;
	padding: 0.188rem 1.375rem;
	margin-top: 2.438rem;
	margin-left: 15rem;
	cursor: pointer;
}

.main__about-link {
	color: #fff;
	font-family: 'Gilroy-Bold', sans-serif;
	font-size: 2rem;
	line-height: 2.688rem;
}

.main__slider {
	margin-left: 5rem;
	width: 56.25rem;
	box-sizing: border-box;
}

.slick-slide img {
	border-radius: 0.625rem;
	object-fit: cover;
	margin: 0;
	width: 100%;
	height: 38.75rem;
}

.activity__inner,
.advantage__inner,
.geolocation__inner,
.contact__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 5.375rem;
}

.geolocation__title,
.activity__title,
.advantage__title,
.contact__title,
.about__title {
	text-transform: uppercase;
	text-align: center;
	max-width: 55rem;
	margin-bottom: 0.625rem;
}

.activity__list,
.advantage__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 3.125rem;
}

.activity__list-card,
.advantage__list-card {
	border-radius: 0.625rem;
	width: 29rem;
	margin-top: 7.5rem;
	border: 0.063rem solid #0a8f3f;
	background: #fff;
	position: relative;
}

.activity__card-image,
.advantage__card-image {
	position: absolute;
	top: 1%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.activity__card-title,
.advantage__card-title {
	color: #0a8f3f;
	text-align: center;
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	line-height: 2rem;
	text-transform: uppercase;
	margin-top: 8.625rem;
	height: 4rem;
	padding: 0 3.5rem;
}

.activity__card-desc,
.advantage__card-desc {
	margin-top: 0.625rem;
	text-align: center;
	font-size: 1.25rem;
	font-weight: 300;
	line-height: 1.25rem;
	padding: 0 5rem;
	margin-bottom: 2.688rem;
}

.activity__card-highlight,
.advantage__card-highlight {
	font-weight: 500;
	color: #262626;
}

.about {
	position: relative;
}

.about__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	margin-bottom: 5.938rem;
}

.about__back {
	position: absolute;
	z-index: -1;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.about__desc {
	margin-top: 0.438rem;
	text-align: center;
	font-size: 2rem;
	font-weight: 300;
	line-height: 2.25rem;
	max-width: 90.625rem;
}

.about__desc-highlight {
	font-family: 'Gilroy-Bold', sans-serif;
	font-weight: 800;
}

.about__desc-text {
	font-weight: 500;
}

.geolocation__info {
	display: flex;
	justify-content: space-between;
	margin-top: 5.25rem;
}

.geolocation__info-list {
	display: flex;
	flex-direction: column;
	gap: 1.875rem;
}

.geolocation__info-item {
	padding: 2.5rem 5.625rem 2.5rem 12.5rem;
	background-color: #fff;
	border-radius: 5.625rem;
	color: #262626;
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
}

.geolocation__info-img {
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translate(-50%, -50%);
}

.geolocation__info-map {
	width: 68.125rem;
	height: 26.688rem;
	border-radius: 0.625rem;
	border: 0.063rem solid #0a8f3f;
	box-shadow: 0rem 0rem 3.125rem 0rem rgba(222, 222, 222, 0.2);
	margin-left: 10.125rem;
	overflow: hidden;
}

.contact {
	color: #fff;
	position: relative;
}

.contact__back {
	position: absolute;
	z-index: -1;
	top: 34%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.contact__desc {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.25rem;
	font-weight: 500;
}

.contact__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3.063rem;
	gap: 1.25rem;
}

.contact__form-input {
	color: #262626;
	padding: 0.813rem 20.625rem 1rem 3.438rem;
	border-radius: 4.188rem;
	background: #fff;
	outline: none;
	border: none;
}

.contact__form-button {
	padding: 0.313rem 2.188rem;
	margin-top: 3.313rem;
	color: #0a8f3f;
	font-weight: 800;
	line-height: 2.688rem;
	font-size: 2rem;
	border-radius: 0.156rem;
	background: #fff;
	border: none;
	cursor: pointer;
}

.footer__inner {
	margin-top: 3.75rem;
	margin-bottom: 3.75rem;
	display: flex;
	justify-content: center;
	gap: 22.688rem;
}

.footer__title {
	font-size: 1.25rem;
	font-weight: 31.25rem;
}

.footer__about,
.footer__activity,
.footer__contact {
	display: flex;
	flex-direction: column;
	gap: 0.938rem;
}

.footer__item-link {
	color: #000;
}

.footer__item-link:hover {
	color: #0a8f3f;
	transition: 0.4s;
}

.slick-dots {
	display: flex;
	gap: 0.938rem;
	position: absolute;
	bottom: 2%;
	left: 3%;
}

.slick-dots li button {
	background-color: #fff;
	border: none;
	width: 0.938rem;
	height: 0.938rem;
	border-radius: 50%;
	color: transparent;
	cursor: pointer;
}

.slick-dots li .active {
	background-color: #0a8f3f;
	transition: 0.4s;
}

@media screen and (max-width: 1900px) {
	.menu {
		padding-left: 17.5rem;
	}
	.menu__list-item {
		padding: 0.063rem 1.25rem;
	}
	.container {
		max-width: 93.75rem;
	}
	.main__slider {
		width: 50rem;
	}
	.geolocation__title,
	.activity__title,
	.advantage__title,
	.contact__title,
	.about__title {
		font-size: 2.5rem;
		line-height: 2.813rem;
		max-width: 48rem;
	}
	.activity__list,
	.advantage__list {
		gap: 3.125rem;
	}
}

@media screen and (max-width: 1800px) {
	.geolocation__info-map {
		width: 56.25rem;
	}
}

@media screen and (max-width: 1600px) {
	.menu {
		padding-left: 12.5rem;
	}
	.menu__list-item {
		padding: 0.063rem 0.625rem;
	}
	.container {
		max-width: 87.5rem;
	}
	.geolocation__info-map {
		margin-left: 5rem;
		width: 48.75rem;
	}
	.about__back {
		left: 50%;
		top: 25%;
		object-fit: cover;
		width: 100%;
		height: 120%;
	}
	.advantage__card-title,
	.activity__card-title {
		font-size: 1.75rem;
	}
	.advantage__list-card,
	.activity__list-card {
		width: 26.25rem;
	}
	.contact__back {
		left: 50%;
		top: 30%;
		object-fit: cover;
		width: 100%;
		height: 120%;
	}
	.main__slider {
		width: 43.75rem;
	}
	.slick-slide img {
		height: 32.5rem;
	}
	.footer__inner {
		gap: 3.125rem;
	}
}

@media screen and (max-width: 1400px) {
	.menu,
	.lang,
	.logo__desc {
		padding-left: 3.75rem;
	}
	.main__about-desc {
		font-size: 1.5rem;
	}
	.geolocation__title,
	.activity__title,
	.advantage__title,
	.contact__title,
	.about__title {
		font-size: 2.375rem;
		line-height: 2.688rem;
	}
	.main__about-title {
		font-size: 3.125rem;
		line-height: 3.438rem;
	}
	.activity__card-desc,
	.advantage__card-desc {
		padding: 0 3rem;
	}
	.advantage__card-title,
	.activity__card-title {
		font-size: 1.5rem;
		padding: 0 3rem;
	}
	.advantage__list-card,
	.activity__list-card {
		width: 22.5rem;
	}
	.geolocation__info {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.geolocation__info-map {
		margin: 0;
		margin-top: 1.875rem;
	}
	.container {
		max-width: 73.75rem;
	}
	.main__slider {
		width: 37.5rem;
	}
	.slick-slide img {
		height: 26.25rem;
	}
}

@media screen and (max-width: 1200px) {
	.logo__desc {
		display: none;
	}
	.container {
		max-width: 56.25rem;
	}
	.text__slider {
		width: 100%;
	}
	.main__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.main__about {
		margin: 0 auto;
	}
	.main__slider {
		width: 100%;
		margin: 0;
	}
	.main__about-title {
		margin: 0 auto;
		align-items: center;
		text-align: center;
		margin-bottom: 0.938rem;
	}
	.main__about-desc {
		margin: 0 auto;
		align-items: center;
		text-align: center;
		margin-bottom: 0.938rem;
	}
	.main__about-button {
		margin: 0 auto;
		margin-bottom: 0.938rem;
	}
}

@media screen and (max-width: 900px) {
	.menu,
	.lang {
		padding-left: 0.938rem;
	}

	.geolocation__info-map {
		width: 37.5rem;
	}

	.container {
		max-width: 43.75rem;
	}
	.main__slider {
		width: 100%;
	}
	.logo__name {
		font-size: 1.875rem;
	}

	.geolocation__title,
	.activity__title,
	.advantage__title,
	.contact__title,
	.about__title {
		font-size: 2.188rem;
		line-height: 2.5rem;
	}
	.main__about-title {
		font-size: 2.813rem;
		line-height: 3.125rem;
	}
	.about__desc {
		font-size: 1.25rem;
	}

	.about__inner {
		margin-bottom: 5rem;
	}

	.main__about {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.footer__about,
	.footer__activity {
		display: none;
	}

	.footer__title {
		display: none;
	}

	.footer__inner {
		margin: 0;
		margin-bottom: 1.875rem;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}

@media screen and (max-width: 800px) {
	.menu {
		display: none;
	}

	.container {
		max-width: 32.5rem;
	}

	.main__slider {
		width: 100%;
	}

	.slick-slide img {
		width: 100%;
		height: 18.75rem;
	}
	.header__inner {
		align-items: center;
		justify-content: center;
	}
	.main__about,
	.main__inner {
		margin-top: 0;
		margin-bottom: 1.25rem;
	}
	.geolocation__info {
		margin-top: 1.25rem;
	}
	.geolocation__info-map {
		width: 25rem;
	}
	.geolocation__title,
	.activity__title,
	.advantage__title,
	.contact__title,
	.about__title {
		font-size: 1.875rem;
	}
	.main__about-title {
		font-size: 2.188rem;
		line-height: 2.5rem;
	}
	.advantage__list-card,
	.activity__list-card {
		width: 21.875rem;
	}
	.advantage__card-title,
	.activity__card-title {
		font-size: 1.5rem;
		line-height: 1.5rem;
	}
	.contact__form-input {
		padding: 0.813rem 3.75rem 1rem 1.875rem;
	}
	.geolocation__info-item {
		padding: 0.938rem 5.625rem 0.938rem 6.25rem;
		font-size: 1.25rem;
	}
	.geolocation__info-img {
		width: 3.125rem;
	}
	.geolocation__info-map {
		width: 18.75rem;
	}
}

@media screen and (max-width: 500px) {
	.container {
		max-width: 25rem;
	}
	.main__slider {
		width: 100%;
	}
	.slick-slide img {
		width: 100%;
		height: 15rem;
	}
}
